/* Color */


$white: #FFFFFF;
$black: #000000;
$dark-orange: #FF6D00;
$orange: #F68633;
$back-grey: #F5F5F5;
$footer-grey: #DFDFDF;
$light-grey: #E6E6E6;
$grey: #C4C4C4;
$middle-grey: #8D8D8D;
$dark-grey: #6B6A69;


/* Font-size */

$main-title: 60px;
$second-title: 40px;
$hight-size: 20px;
$main-size: 18px;
$second-size: 16px;
$little-size: 14px;

/* Font-family */

$main-font: 'Roboto', sans-serif;
$second-font: 'Montserrat', sans-serif;
